# Pandas 101

Practice Pandas on categorigal dataset.

In [1]:
# Import Libraries
import pandas as pd
pd.options.display.max_columns = None

In [2]:
# Load data from CSV file
# df = pd.read_csv('vehicles.csv')
df = pd.DataFrame({
        'Raining': ['Yes','No','Yes','No','Yes'],
        'Country': ['United States', 'Mexico', pd.NA,'Canada','United States'],
        'Night': ['No','No','Yes','No','No']
    })

In [3]:
# Understand the shape of the data by displaying the value of shape
df.shape

(5, 3)

In [4]:
# Show the first portion of the data using head()
df.head()

  Raining        Country Night
0     Yes  United States    No
1      No         Mexico    No
2     Yes           <NA>   Yes
3      No         Canada    No
4     Yes  United States    No

In [5]:
# Use the describe() function to better understand the data
# and look for missing values
df.describe()

       Raining        Country Night
count        5              4     5
unique       2              3     2
top        Yes  United States    No
freq         3              2     4

In [6]:
df.drop(["Night"],axis=1,inplace=True)

In [7]:
df.head()

  Raining        Country
0     Yes  United States
1      No         Mexico
2     Yes           <NA>
3      No         Canada
4     Yes  United States

In [8]:
# Drop rows that contain missing values using dropna()
df = df.dropna()
df.head()

  Raining        Country
0     Yes  United States
1      No         Mexico
3      No         Canada
4     Yes  United States

In [9]:
OneHot = pd.get_dummies(df['Country'], prefix="Country", drop_first=True)
df.drop('Country', axis=1, inplace=True)
df = pd.concat([df,OneHot],axis=1)
df.head()

  Raining  Country_Mexico  Country_United States
0     Yes               0                      1
1      No               1                      0
3      No               0                      0
4     Yes               0                      1

In [11]:
# Create one-hot encoded values for each column using
# the the get_dummies function:
OneHot = pd.get_dummies(df['Raining'], prefix="Raining", drop_first=True)
df.drop('Raining', axis=1, inplace=True)
df = pd.concat([df,OneHot],axis=1)
df.head()

   Country_Mexico  Country_United States  Raining_Yes
0               0                      1            1
1               1                      0            0
3               0                      0            0
4               0                      1            1

### Key Takeaways:
- You calculated the minimum and maximum values for each input and applied normalization
- You then applied standardization and compared the results
- You replaced categorical inputs with numerical values using one-hot encoding